.App {
  text-align: center;
}

.App > header {
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.App > .filter > div {
  padding: 1rem 2rem;
  margin: 0.5rem;
  background-color: #f1f1f1;
  display: inline-block;
}

.App > .filter > div:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.App > .filter > div.selected {
  background-color: #6ca7ff;
}

.App > .filter > input {
  padding: 0.2rem;
  margin: 0.5rem;
  display: inline-block;
}

.itemCards {
  padding: 64px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 32px;
  row-gap: 32px;
  height: 600px;
  overflow-y: scroll;
}

.itemCards > .itemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemCards > .itemCard > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.itemCards > .itemCard > span:nth-child(2) {
  color: #979797;
}
